<template>
    <header>
        <h1>Welcome to student management app</h1>
    </header>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style scoped>
header {
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px #424242;
    background: #FF5252;
}

header h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 100px;
    font-weight: 300;
    margin: 0;
}
</style>